body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

.chat-container {
    width: 420px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.header {
    background: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bot-avatar-header {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chat-box {
    height: 420px;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.message-row {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-avatar {
    margin-left: 10px;
    margin-right: 0;
}

.message {
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.user {
    background: #DCF8C6;
    margin-left: auto;
}

.bot {
    background: #e3e3e3;
}

.input-area {
    display: flex;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
}

button {
    width: 80px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
